  <swiper-container slides-per-view="4" centered-slides="true" space-between="22" navigation="true" pagination="true"
    pagination-type="Scrollbar"  class="featured-swiper w-75 ">
    <swiper-slide> <app-trip-card></app-trip-card></swiper-slide>
    <swiper-slide> <app-trip-card></app-trip-card></swiper-slide>
    <swiper-slide> <app-trip-card></app-trip-card></swiper-slide>
    <swiper-slide> <app-trip-card></app-trip-card></swiper-slide>
    <swiper-slide> <app-trip-card></app-trip-card></swiper-slide>
  </swiper-container>
